@page "/Success"

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="alert alert-success p-5 shadow-lg">
                <h1 class="display-4">Good Job!</h1>
                <p class="lead">your file was sent sucsesfuly</p>
                <hr />
                <a href="/" class="btn btn-primary mt-3">Back to the file</a>
            </div>
        </div>
    </div>
</div>
