body {
    background-image: url(https://wallpapers.com/images/hd/cool-gray-61nfwad1bullevu4.jpg)
}

#TitleHome {
    color: dodgerblue !important;
}
.card shadow p-4 {
    background-color: aquamarine !important;
}
